.calbody{
    width: 400px;
    height: 500px;
    margin: auto auto;
    background-color: black;
    padding-top: 100px;
}
.display{
    width: 340px;
    height: 100px;
    text-align: right;
    font-size: large;
    margin: auto;
    display: block;
}
.fbutton{
    width: 70px;
    height:40px;
    font-size: larger;
    margin-left: 22px;
    margin-bottom: 20px;
    background-color: darkgray;
}
.lbutton{
    width: 70px;
    height: 40px;
    font-size: larger;
    margin-left: 22px;
    margin-bottom: 10px;
    background-color: dimgray;
}